.detailscontainer
{
    width:100%;
    height:100%;
    background-color:white;
   
}


.header
{
    width: 100%;
    height: 50px;
    background-color: green;
    position: fixed;

}

.details-container
{
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 50px;
    /* background-color: red; */
    z-index: -1;
   display: flex;
   justify-content: space-between;
}

.dcchildleft, .dcchildright, .dcchildcenter
{
   width: 30%;
   height: 600px;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}

.dcchildright
{
    align-items: flex-end;
}
#dl
{
    left: 0px;
    width: 85%;
    height: 15%;
    margin: 2%;
    /* border: 1px solid green; */
    padding: 4px;
    display: flex;
    justify-content: space-around;
}
#dr
{
    right: 0px;
    width: 85%;
    height: 15%;
    margin: 2%;
    /* border: 1px solid green; */
    padding: 4px;
    display: flex;
    justify-content: space-around;
}


.dc-image
{
    width: 100%;
    height: 75%;
    border: 1px solid green;
    padding: 4px;
}

#dc
{
 width: 100%;
 height: 15%;
 /* border: 1px solid green; */
 margin-top: 3%;
 padding: 4px;
 display: flex;
 justify-content: space-around;
}

#icons
{
    width: 20% ;
    height: 90%;
    /* border: 1px solid blue; */
    font-size: 37px;
    text-align: center;
}

#description, .description1
{
    width: 70% ;
    height: 90%;
    /* border: 1px solid blue; */
    font-size: 20px;
    text-align: left;
    padding-top: 19px;
}

.name
{
    font-size: 25px;
    font: 600px;
    color:red;
    border: 1px solid blue;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
